// -----------------------------------------------------------------
// HR styles
// -----------------------------------------------------------------
.line-default {
  border: none;
  border-bottom: 1px solid lighten($color-base, 60%);
}

// -----------------------------------------------------------------
// Border styles
// -----------------------------------------------------------------
.line-col {
  border-bottom: 1px solid lighten($color-base, 60%);
  padding-top: 1.5em;
  &-mq-none {
    border-bottom: none;
    padding-bottom: 0;
    @include bp(xs) {
      border-bottom: 1px solid lighten($color-base, 60%);
    }
  }
}

.line-bottom {
  border-bottom: 1px solid lighten($color-base, 60%);
}

.line-bottom-double {
  border-bottom: 3px double lighten($color-base, 60%)lighten($color-base, 60%);
}

.line-bottom-accent {
  border-bottom: 7px solid $color-accent;
}
