// -----------------------------------------------------------------
// Margin styles
// -----------------------------------------------------------------
.margin-0 {
  margin: 0;
}

.margin-top0 {
  margin-top: 0;
}

.margin-left1em {
  margin-left: 1em;
}

.margin-left2em {
  margin-left: 2em;
}

.margin-topbottom1em {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-topbottom2em {
  margin-top: 2em;
  margin-bottom: 2em;
}

.margin-leftrightauto {
  margin-left: auto;
  margin-right: auto;
}

// -----------------------------------------------------------------
// Padding styles
// -----------------------------------------------------------------
.padding-0 {
  padding: 0;
}

.padding-0-5em {
  padding: .5em;
}

.padding-1em {
  padding: 1em;
}

.padding-1-5em {
  padding: 1.5em;
}

.padding-left0-5em {
  padding-left: .5em;
}

.padding-left1em {
  padding-left: 1em;
}

.padding-right0-5em {
  padding-right: .5em;
}

.padding-right1em {
  padding-right: 1em;
}

.padding-leftright1em {
  padding-left: 1em;
  padding-right: 1em;
}
