{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ライタソンプラットフォーム</title>
  <link rel="stylesheet" href="{% static "frontend/common.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="layout-container">
    <main>
      <div id="app"></div>
    </main>
  </div>

  <script src="{% static "frontend/vendor.bundle.js" %}"></script>
  <script src="{% static "frontend/common.bundle.js" %}"></script>
</body>
</html>
